$main-color: #19c8fa;
$transparent-color: rgba(15, 116, 143,  70%);
$black-color: black;
$section-padding: 100px;
$paragraph-color: #777;
$radius-border: 2px;


$max-mobile: 767px;
$min-small: 768px;
$max-small: 991px;
$min-medium: 992px;
$min-larg: 1199px;
$max-larg: 1200px;